{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container align-items-center mx-auto py-4">
        <div class="col-4 p-4 mx-auto">
            
            <div class="row py-4">
                <h1 class="text-center custom-color">Sign Up</h1>
            </div>
            <div class="row rounded bg-dark">
                <div class="box p-4 custom-color">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger rounded p-2" style="background-color: #df8282;">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                    {% endwith %}
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label") }}

                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.confirm_password.label(class="form-control-label") }}
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirm_password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
    
                        <div class="form-group text-center">
                            {{ form.submit(class="btn btn-petit") }}
                        </div>
                    </form>
                </div>
                <div class="p-3">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2 custom-color" href="{{ url_for('login') }}">Sign In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
