{% extends "layout.html" %}

{% block title %}Game Stream{% endblock %}

{% block content %}

<div class="container text-center h-100">
    <div class="col-4  position-absolute top-50 start-50 translate-middle">
        <div class="row p-2 ">
            <button type="button" class="btn btn-outline-light me-2 custom-size" style="color: #ecce97; border-color: #ecce97;" >
                <a href="{{ url_for('play') }}" style=" color: #ecce97; text-decoration: none;">
                    Join a game on the server
                </a>
            </button>
        </div>
        <div class="row p-2">
            <button type="button" class="btn btn-outline-light me-2 custom-size" style="color: #ecce97; border-color: #ecce97;" >
                <a href="{{ url_for('play') }}" style="color: #ecce97; text-decoration: none;">
                    Play with a friend
                </a>
            </button>   
        </div>     
    </div>

</div>



{% endblock %}
{% block js %}<script src="static/script.js"></script>{% endblock %}