{% extends "layout.html" %}

{% block title %}Game Stream{% endblock %}

{% block content %}

    <div class="container py-4">
        <div class="container text-start py-4">
            <div class="row">
                <div class="col-3 py-3">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                        <label class="form-check-label custom-color" for="flexSwitchCheckDefault">Game Mode: Apply Go rules</label>
                    </div>
                </div>
                <div class="col">
                    <form method="POST" id="myForm" class="btn-group-lg">
                        <button class="btn btn-petit" id="start-button">
                            Start a game
                        </button>
                        <button class="btn btn-petit" id="pause-button" disabled>
                            Pause 
                        </button>
                        <button class="btn btn-annuler" id="stop-button" disabled>
                            End the game
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="custom-container text-center">
            <div class="row">
                <div class="col">
                    <video autoplay playsinline id="videoElement" width="100%" hidden></video>
                    <canvas id="canvas" hidden></canvas>
                    <img id="camera-feed-closed" src="static/Feed.png" alt="Camera Feed">
                    <div class="col text-center bg-dark custom-color rounded">
                        <div id="message" class="py-1">
                            {{ message }}
                        </div>
                    </div>
                </div>
                <div class="col-6 px-0">
                    <canvas id="go-board" width="600" height="600"></canvas>
                    <div class="row align-items-start">
                        <form method="POST" id="controls" class="btn-group-lg">
                            <button class="btn btn-nav mx-1" id="initial">   &lt;&lt;  </button>     
                            <button class="btn btn-nav mx-1" id="previous">    &lt;   </button>     
                            <button class="btn btn-nav mx-1" id="next">    &gt;   </button>     
                            <button class="btn btn-nav mx-1" id="last">   &gt;&gt;  </button>
                        </form>
                    </div>
                </div>
                <div class="col-1 mx-0 px-0">
                    <div class="d-grid gap-4 mx-auto">

                        <button class="btn btn-primary" id="undo" style="background-color: #eb6b67; border-color: #eb6b67; color: black;" disabled>
                            UNDO
                        </button>
                        <button class="btn btn-primary" id="resign" style="background-color: #eb6b67; border-color: #eb6b67; color: black;" disabled>
                            RESIGN
                        </button>
                        <button class="btn btn-primary" id="download-sgf" style="background-color: #ecce97; border-color: #ecce97;color: black;" disabled>
                            GET SGF
                        </button>
                        <i class="custom-color text-start">Click on a stone then click on some intersection to change its position...</i> 
        
                    </div> 

                </div>
            </div>
        </div>

    </div> 
{% endblock %}
{% block js %}<script src="static/script.js"></script>{% endblock %}