<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'styles.css') }}">
    <!--<script  rel="stylesheet" type="text/css" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>    <meta charset="UTF-8">-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    <script src="static/game_manager.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Stream</title>
</head>
<body>
    <div class="container">
        <header class="container text-center row align-items-start">
            <div class="col">
                <a href = "/">
                    <button>
                        <img src="{{ url_for('static', filename='GoStreamLogoTitleRight.png') }}" class ="GoStream" alt="Accueil" id="logo">
                    </button>
                </a>              
            </div>
            
            <div class="col custom-color custom-size">
                <b>Game Stream</b>
            </div>
        
            <div class="col">
                <img src="{{ url_for('static', filename='client_logo.png') }}" class="Tenuki" alt="ClientLogo" id="logo">
            </div>

    
        </header>
    </div>

    <div class="container">
        <div class="container text-center">
            <div class="row align-items-start">
                <form method="POST" action="/cam" id="myForm">
                    <button class="col btn btn-petit" type="submit" id="start-button" name="psw1" value="0">
                        Start recording
                    </button>
                    <button class="col btn btn-annuler" type="submit" id="stop-button" name="psw1" value="1" disabled>
                        Stop the camera
                    </button>
                </form>
            </div>
        </div>
        
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    
                    <div id="video-container">
                        <img id="camera-feed" src="" alt="Camera Feed">
                    </div>
                    
                    <div class="col text-info">
                        <div id="message">
                            {{ message }}
                        </div>
                    </div>
                
                </div>
                
                <div class="col">
                    
                    <div id="image">

                        <img id="image" src="static/empty_board.jpg" alt="Image">
    
                        <div class="container-fluid text-center">
                            <form method="POST" action="/game" id="move">
                                <button class="btn btn-petit" type="submit" id="start-button4" name="psw2" value="2">   &lt;&lt;  </button>     
                                <button class="btn btn-petit" type="submit" id="start-button1" name="psw2" value="3">    &lt;   </button>     
                                <button class="btn btn-petit" type="submit" id="start-button2" name="psw2" value="4">    &gt;   </button>     
                                <button class="btn btn-petit" type="submit" id="start-button3" name="psw2" value="5">   &gt;&gt;  </button>
                            </form>
                        </div>
                    </div>
                </div> 
                <div class="col-1"> <!--{ᶫᵒᵛᵉᵧₒᵤ}<(♡▽♡)> HOUDATIIIIIIII  BADLI DAK RA9AM HNAAAAAA-->
                    <div class="row">
                        <form method="POST" action="/undo">
                            <button class="btn btn-annuler" type="submit">
                                Undo last mode
                            </button>
                        </form>
                    </div>
                    <div class="row">
                        <button class="btn btn-petit" onclick="downloadFile()">Generate SGF file</button>
                    </div>
                </div>
            
                <script>
                    function updateMessage() {
                        $.get('/update', function(data) {
                            // Mettre à jour le contenu de #message avec le nouveau message
                            $('#message').text(data.message);
                            $('#image img').attr('src', 'data:image/jpeg;base64,' + data.image); 
                        });
                    }
                    // Mettre à jour le message toutes les 3 secondes (ajustez selon vos besoins)
                    setInterval(updateMessage, 1000);
                </script>
            </div>
        </div>
  
        <!-- <div class="container-fluid text-center">
            <div class="row">


                <div class="col">
                    <form method="POST" action="/change_place" id="change">
                        <label for="input1">Ancien emplacement</label>
                        <input type="text" id="input1" name="input1" placeholder="par exemple A1..">
                        <br>
                        <label for="input2">Nouvel emplacement</label>
                        <input type="text" id="input2" name="input2" placeholder="par exemple S19..">
                        <br>
                        <button class="btn bg custom-button btn-petit" type="submit">Valider</button>
                    </form>
                </div>
            </div>
        </div> -->
    </div> 

    <script>
        function downloadFile() {
            // Requête AJAX pour obtenir le contenu du fichier depuis le serveur
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/get_sgf_txt', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Créer un blob avec le contenu du fichier
                    var blob = new Blob([xhr.responseText], { type: 'text/plain' });
                    
                    // Utiliser FileSaver.js pour télécharger le fichier
                    saveAs(blob, 'partie.sgf');
                }
            };
            xhr.send();
        }
    </script>

<!-- </div>  
    <div class="container-sm">

    </div>

</div>
</div>

</div>
<script>
    function updateMessage() {
        $.get('/update', function(data) {
            // Mettre à jour le contenu de #message avec le nouveau message
            $('#message').text(data.message);
            $('#image img').attr('src', 'data:image/jpeg;base64,' + data.image);
        
        });
    }

    // Mettre à jour le message toutes les 3 secondes (ajustez selon vos besoins)
    setInterval(updateMessage, 3000);
</script>

<script>
    function downloadFile() {
        // Requête AJAX pour obtenir le contenu du fichier depuis le serveur
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/get_file_content', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                // Créer un blob avec le contenu du fichier
                var blob = new Blob([xhr.responseText], { type: 'text/plain' });
                
                // Utiliser FileSaver.js pour télécharger le fichier
                saveAs(blob, 'nom_du_fichier.sgf');
            }
        };
        xhr.send();
    }
</script>
<script>
    document.getElementById('rules').addEventListener('change', function() {
        if (this.checked) {
            document.getElementById('check').submit();
        }
    });
</script> 



            <div class="col text-left text-light">
                <form method="POST" action="/rules" id="check">
                    <label for="rules">Respect des règles strictes : </label>
                    <input type="checkbox" id="rules" name="psw3" value="6" {% if check == 'True' %}checked{% endif %}>
                </form>
                <br>
                <br>








        <script src="{{ url_for('static',filename = 'script.js') }}"></script>
    -->






</body>
</html>
 
