<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Historique</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'styles.css') }}">
</head> 
<body>
    <header class="p-3 bg-dark px-0">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
            <div class="col-2">
                <a href = "/">
                    <img src="{{ url_for('static', filename='GoStreamLogoTitleRight.png') }}" class ="GoStream" alt="Home" id="logo">
                </a>
            </div>   
                <ul class="col nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="{{ url_for('game') }}" class="nav-link px-2 custom-color">Game Mode</a>
                    </li>
                    <li>
                        <a href="{{ url_for('transparent') }}" class="nav-link px-2 custom-color">Transparent Mode</a>
                    </li>
                    <li>
                        <a href="{{ url_for('historique') }}" class="nav-link px-2 custom-color">History of games</a>
                    </li>
                    <li>
                        <a href="{{ url_for('sgf') }}" class="nav-link px-2 custom-color">Load from SGF</a>
                    </li>
                </ul>
                
                <div class="text-end custom-color custom-size px-2">
                    <b>Game Stream</b>
                </div> 
            
            </div>
        </div>

    </header>
    <script>
        var tab_parties = [];
        var tab_date = [];
        var montant = 0;
    </script>


        <div class="row">
            <table id = "historique">
                <thead>
                    <tr>
                        <th colspan="5"></th>
                    </tr>                
                </thead>
                <tbody>               
                    <tr>
                        <td>Date de réalisation</td>                    
                        <td>Joueur 1</td>
                        <td>Joueur 2</td>
                        <td>Description</td>
                        <td>Accès</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="{{ url_for('static', filename='historiquejs.js') }}"></script>
    </body>
</html>