<!DOCTYPE html>
<html lang="en">
<head>
    <title>GoStream | History of games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'styles.css') }}">
    <link rel="icon" type="image/png" href="static/GoStreamLogoWithoutTitle.png" sizes="32x32">
    <!--<script  rel="stylesheet" type="text/css" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>    <meta charset="UTF-8">-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <style>
        body {
            margin: 0;
            border: 0;
            padding: 0;
            font-family: 'Rubik', sans-serif;

        }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
</head> 
<body>
    <header class="p-3 bg-dark px-0">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
            <div class="col-2">
                <a href = "/">
                    <img src="{{ url_for('static', filename='GoStreamLogoTitleRight.png') }}" class ="GoStream" alt="Home" id="logo">
                </a>
            </div>   
                <ul class="col nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li style="margin-right: 10px;">
                        <a href="{{ url_for('game') }}" class="nav-link px-2 custom-color navs">Stream a Game</a>
                    </li>
                    <li style="margin-right: 10px;">
                        <a href="{{ url_for('play') }}" class="nav-link px-2 custom-color navs">Play</a>
                    </li>
                    <li style="margin-right: 10px;">
                        <a href="{{ url_for('historique') }}" class="nav-link px-2 custom-color link-secondary navs">Game History</a>
                    </li>
                    <li style="margin-right: 10px;">
                        <a href="{{ url_for('sgf') }}" class="nav-link px-2 custom-color navs">Load from SGF</a>
                    </li>
                </ul>
                
                <div>
                    <div>
                        <svg class="svg-icon p-1" viewBox="0 0 20 20">
                            <path fill="none" d="M12.443,9.672c0.203-0.496,0.329-1.052,0.329-1.652c0-1.969-1.241-3.565-2.772-3.565S7.228,6.051,7.228,8.02c0,0.599,0.126,1.156,0.33,1.652c-1.379,0.555-2.31,1.553-2.31,2.704c0,1.75,2.128,3.169,4.753,3.169c2.624,0,4.753-1.419,4.753-3.169C14.753,11.225,13.821,10.227,12.443,9.672z M10,5.247c1.094,0,1.98,1.242,1.98,2.773c0,1.531-0.887,2.772-1.98,2.772S8.02,9.551,8.02,8.02C8.02,6.489,8.906,5.247,10,5.247z M10,14.753c-2.187,0-3.96-1.063-3.96-2.377c0-0.854,0.757-1.596,1.885-2.015c0.508,0.745,1.245,1.224,2.076,1.224s1.567-0.479,2.076-1.224c1.127,0.418,1.885,1.162,1.885,2.015C13.961,13.689,12.188,14.753,10,14.753z M10,0.891c-5.031,0-9.109,4.079-9.109,9.109c0,5.031,4.079,9.109,9.109,9.109c5.031,0,9.109-4.078,9.109-9.109C19.109,4.969,15.031,0.891,10,0.891z M10,18.317c-4.593,0-8.317-3.725-8.317-8.317c0-4.593,3.724-8.317,8.317-8.317c4.593,0,8.317,3.724,8.317,8.317C18.317,14.593,14.593,18.317,10,18.317z"></path>
                        </svg>
                        <button type="button" class="btn btn-outline-light me-2" style="color: #ecce97; border-color: #ecce97;" >
                            <a href="{{ url_for('login') }}" style=" color: #ecce97; text-decoration: none;">Login</a>
                        </button>
                        <button type="button" class="btn btn-warning" style="background-color: #ecce97; border-color: #ecce97;">
                            <a href="{{ url_for('signup') }}" style=" color: black; text-decoration: none;">Sign-up</a>
                        </button>
                        <button type="button" class="btn btn-outline-light me-2" style="color: #ecce97; border-color: #ecce97;" >
                            <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
                        </button>
                    </div>
                </div>
            
            </div>
        </div>
    </header>

    <div class="container">
        <div class="container text-center p-4">
            <h1 class="title">Not yet available</h1>
        </div>
        <div class="container-fluid text-center">
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Black</th>
                    <th scope="col">White</th>
                    <th scope="col">Date</th>
                    <th scope="col">Tournament</th>
                    <th scope="col">SGF</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>P1</td>
                    <td>P2</td>
                    <td>04/01/2024</td>
                    <td>Training</td>
                    <td>...</td>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 bg-dark">
        <div class="text-muted" style="margin-left: 50px;">
            <h5>Credits</h5>
            <ul class="text-muted nav flex-column">
                <li class="nav-item mb-2">
                    <a href="https://universe.roboflow.com/aleksei-gorovoi-gogamedn/go-game-detection/dataset/10" class="text-decoration-none text-muted">Training Dataset</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="https://github.com/ultralytics/ultralytics" class="text-decoration-none text-muted">Ultralytics</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="https://github.com/GoGame-Recognition-Project/GoGame-Detection" class="text-decoration-none text-muted">Our Github projet</a>
                </li>
                <li class="nav-item mb-2">   
                    <a href="https://pypi.org/project/sente/" class="text-decoration-none text-muted">Sente</a>
                </li>
            </ul>
        </div>
        <div class="col text-center">
            <img src="{{ url_for('static', filename='GoStreamLogoWithoutTitle.png') }}" class ="GoStreamFooter">
            <span class="mb-3 mb-md-0 text-muted">© 2024 GoStream</span>
        </div>
        <div class="col text-center">
            <img src="{{ url_for('static', filename='Logo_IMT_Atlantique.png') }}" class ="GoStreamFooter">
            <span class="mb-3 mb-md-0 text-muted">© IMT Atlantique</span>
        </div>
        <div class="col text-center">
            <img src="{{ url_for('static', filename='client_logo.png') }}" class ="Tenuki">
            <span class="mb-3 mb-md-0 text-muted">© Club Tenuki - Brest </span>
        </div>  

        <div class="col-2 text-muted text-start px-4">
            Special thanks to our tutor Etienne Peillard and our client Nicolas Desdames from the Tenuki club.
        </div>
    </footer>
    <script>
        var tab_parties = [];
        var tab_date = [];
        var montant = 0;
    </script>
    </body>
</html>