{% extends "layout.html" %}

{% block title %}History of Games{% endblock %}

{% block content %}

    <div class="container">
        <div class="container text-center p-4">
            <h1 class="title">Not yet available</h1>
        </div>
        <div class="container-fluid text-center">
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Black</th>
                    <th scope="col">White</th>
                    <th scope="col">Date</th>
                    <th scope="col">Tournament</th>
                    <th scope="col">SGF</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>P1</td>
                    <td>P2</td>
                    <td>04/01/2024</td>
                    <td>Training</td>
                    <td>...</td>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}