<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'styles.css') }}">
    <!--<script  rel="stylesheet" type="text/css" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>    <meta charset="UTF-8">-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <style>
        body {
            font-family: 'Your Desired Font', sans-serif;
        }
    </style> -->
    <title>Home</title>
</head>
<body>
    <div class="container-m">
        <div class="text-center">
            <img src="{{ url_for('static', filename='GoStreamLogoTitleUnder.png') }}" class ="GoStreamHome" alt="GoStream" id="logo">
        </div>
        <div>
            <div class="btn btn-grand"><a href="{{ url_for('game') }}"><b>Mode Partie</b></a></div>
            <div class="btn btn-grand"><a href="{{ url_for('transparent') }}"><b>Mode Transparent</b></a></div>
            <div class="btn btn-grand"><a href="{{ url_for('historique') }}"><b>Historique des parties</b></a></div>
            <div class="btn btn-grand"><a href="{{ url_for('sgf') }}"><b>Lire SGF</b></a></div>
        </div>
    </div>

    <div class="position-absolute top-0 end-0">        
        <img src="{{ url_for('static', filename='client_logo.png') }}" class="Tenuki" alt="ClientLogo" id="logo">
    </div>

</body>
</html>

<!--  -->
