<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'styles.css') }}">
    <link rel="icon" type="image/png" href="static/GoStreamLogoWithoutTitle.png" sizes="32x32">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap">
    <!--<script  rel="stylesheet" type="text/css" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>    <meta charset="UTF-8">-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            border: 0;
            padding: 0;
            font-family: 'Rubik', sans-serif;
        }

    </style>
        
    <title>GoStream | Home</title>
</head>
<body>
    <header class="p-3 bg-dark px-0">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
            <div class="col-2">
                <a href = "/">
                    <img src="{{ url_for('static', filename='GoStreamLogoTitleRight.png') }}" class ="GoStream" alt="Home" id="logo">
                </a>
            </div>   
                <ul class="col nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <a href="{{ url_for('game') }}" class="nav-link px-2 custom-color">Game Mode</a>
                    </li>
                    <li>
                        <a href="{{ url_for('transparent') }}" class="nav-link px-2 custom-color">Transparent Mode</a>
                    </li>
                    <li>
                        <a href="{{ url_for('historique') }}" class="nav-link px-2 custom-color">History of games</a>
                    </li>
                    <li>
                        <a href="{{ url_for('sgf') }}" class="nav-link px-2 custom-color">Load from SGF</a>
                    </li>
                </ul>
  
            </div>
        </div>

    </header>
    <div class="p-3 bg-dark custom-container">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-lg-start">

                <div class="col">
                    <img src="{{ url_for('static', filename='GoStreamLogoTitleUnder.png') }}" class ="GoStreamHome" alt="Home" id="logo">
                </div>
                <div class="col">
                    <div class="text-start custom-color custom-size">
                        GoStream is a streaming platform, in progress, developped by IMT Atlantique-Brest students, for the sake of filming, streaming, detecting and digitizing a Go Game for the Go club Tenuki in Brest, France.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-3 custom-color custom-container">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-lg-start">

                <div class="col">
                    <div class="text-end custom-color custom-size">
                        The platform allows the user to precisely recognize a Go board during a live stream, detect black and white stones, assign them to their right positions, and visually reproduce the game for training purposes. The user can navigate through the game using navigation buttons during the live stream or download the SGF file of the streamed game
                    </div>
                </div>

                <div class="col">
                    <img src="{{ url_for('static', filename='empty_board.jpg') }}" class ="homeBoard" alt="Home" id="logo">
                </div>
            </div>
        </div>
    </div>
    <div class="p-3 custom-container">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-lg-start">

                <div class="col">
                    <img src="{{ url_for('static', filename='GoStreamLogoTitleUnder.png') }}" class ="GoStreamHome" alt="Home" id="logo">
                </div>
                <div class="col">
                    <div class="text-start custom-color custom-size">
                        <h2>How does it work?</h5>
                        <p>
                        The board, corners, stones and some intersections are detected via a custom trained Yolov8 model.
                        The missing intersections are then calculated by finding the missing lines and removing dupes to make sure each stone is precisely assigned to its position.
                        </p>
                        <p>
                        During a stream, we make sure to detect the change between frames to ensure the continuity of the game. The game is managed via Sente, an OpenSource library.
                        For more details about the detection and the game management algorithm, check our <a href="https://github.com/GoGame-Recognition-Project/GoGame-Detection" class="custom-color text-decoration-none "><i>Github repository.</i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark">
        <div class="col px-4">
            <a href = "/" class="mb-3 me-2 mb-md-0 lh-1">
                <img src="{{ url_for('static', filename='GoStreamLogoWithoutTitle.png') }}" class ="GoStreamFooter" alt="Home" id="logo">
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2024 IMT Atlantique</span>
        </div>
        <div class="col text-muted align-items-center py-3">
            <h5>Credits</h5>
            <ul class="text-muted nav flex-column">
                <li class="nav-item mb-2">
                    <a href="https://github.com/GoGame-Recognition-Project/GoGame-Detection" class="text-decoration-none text-muted">Training Dataset</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="https://github.com/ultralytics/ultralytics" class="text-decoration-none text-muted">Ultralytics</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="https://universe.roboflow.com/aleksei-gorovoi-gogamedn/go-game-detection/dataset/10" class="text-decoration-none text-muted">Our Github projet</a>
                </li>
                <li class="nav-item mb-2">   
                    <a href="https://pypi.org/project/sente/" class="text-decoration-none text-muted">Sente</a>
                </li>
            </ul>
        </div>
        <div class="col text-muted text-center">
            Special thanks to our tutor Etienne Peillard and our client Nicolas Desdames from the Tenuki club.
        </div>
        <div class="col text-end">
            <img src="{{ url_for('static', filename='client_logo.png') }}" class ="Tenuki" alt="Home" id="logo">
            <span class="mb-3 mb-md-0 text-muted">© Association Tenuki</span>
        </div>
        <div class="col-1"></div>
    </footer>

</body>
</html>

