{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="container align-items-center mx-auto py-4">
        
        <div class="col-4 p-4 mx-auto">
            
            <div class="row py-4">
                <h1 class="text-center custom-color">Login</h1>
            </div>
            
            <div class="row rounded" style="background-color: #555;">
                <div class="box p-4 custom-color">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                    {% endwith %}
                    <form method="POST" action="/login">
                        <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" placeholder="Your Email">
                        <div id="emailHelp" class="form-text custom-color">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Your Password">
                        </div>
                        <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-petit">Login</button>
                        </div>
                    </form>
            </div>    
        </div>
    </div>
{% endblock %}