{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="custom-container row">
    <div class="col-3 bg-dark text-center">
        <div class="row media" class="text-center">
            <div style="width: 100%;">
                <img class="rounded-circle account-img text-center py-2" src="{{ profile_picture }}">
            </div>
            <div class="media-body">
                <h2 class="account-heading custom-color custom-size">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
        <div class="row text-center p-2 custom-color" style="font-size: 15px;">
            <form method="POST" action="" enctype="multipart/form-data" class="text-center p-4 " >
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group text-start">
                        {{ form.username.label(class="form-control-label") }}

                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group text-start">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group text-start py-4">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-petit") }}
                </div>
            </form>
        </div>
    </div>
  </div>

{% endblock %}