<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'styles.css') }}">
        <!--<script  rel="stylesheet" type="text/css" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>    <meta charset="UTF-8">-->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Partie SGF</title>
    </head>
<body>
    <div class="container-fluid col overflow-auto max-vh-100">

    <div class="container text-center bg custom-color">
        <div class="container text-center">
            <div class="row">

                <div class="col"> 
                    <a href = "{{ url_for('home') }}"><button class="btn bg custom-button btn-petit">Retour</button></a>
                </div>
                <div class="container-2 text-center col custom-color custom-size"> 
                    <b>Partie de Go</b>
                </div>
                <div class="col">
                    <img src="{{ url_for('static', filename='Logo_Tanuki_gris.png') }}" class="logo logo-Tenuki" alt="Logo de l'association" id="logo">
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>

    <div class="container-fluid text-center bg custom-color">
        <div class="d-flex justify-content-center">
            <div>
                <img id="image" class="w-50" src="static/empty_board.jpg" alt="Image"></img>
                <div class="container-fluid text-center">
                    <div class="row">
                        <form method="POST" id="controls">
                            <button class="btn bg custom-button btn-petit" id="initial">   &lt;&lt;  </button>     
                            <button class="btn bg custom-button btn-petit" id="previous">    &lt;   </button>     
                            <button class="btn bg custom-button btn-petit" id="next">    &gt;   </button>     
                            <button class="btn bg custom-button btn-petit" id="last">   &gt;&gt;  </button>
                        </form>
                    </div>
                </div>
            </div>

            </br>
            <form id="load_form" enctype="multipart/form-data" class="input-group">
                <input class="form-control" type="file" name="file" accept=".sgf" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <input id="load_sgf" class="btn bg custom-button btn-petit" type="submit" value="Upload">
            </form>
            <!--<div class="input-group">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
            </div>-->

    </div>
</div>
</div>

<script src="static/script.js"></script>
</body>
</html>