{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container align-items-center mx-auto py-4">
        
        <div class="col-4 p-4 mx-auto">
            
            <div class="row py-4">
                <h1 class="text-center custom-color">Sign Up</h1>
            </div>
            
            <div class="row rounded" style="background-color: #555;">
                <div class="box p-4 custom-color">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification is-danger">
                            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                        </div>
                    {% endif %}
                    {% endwith %}

                    <form method="POST" action="/signup">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Choose a username">
                          </div>
                        <div class="mb-3">
                          <label class="form-label">Email address</label>
                          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter your email adress">
                          <div id="emailHelp" class="form-text custom-color">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" placeholder="Choose a password">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-petit">Sign Up</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}